<%= render 'layouts/flash' %>
<!-- 商品詳細 -->
<div class="flex flex-col items-center justify-center divide-y-2 divide-gray-300 py-10 antialiased">
    <div class="flex w-full flex-col items-center pb-10 md:w-3/4 md:flex-row md:items-start">
        <!-- 商品画像 -->
        <% if @product.images.attached? %>
            <%= image_tag @product.images.first.variant(resize_to_fill: [400, 300]), class: 'block fixed-size-image rounded-lg shadow-xl md:h-auto' %>
        <% else %>
            <%= image_tag 'sample_image.jpg', class: 'block fixed-size-image rounded-lg shadow-xl md:h-auto', size: "400x300" %>
        <% end %>
        <!-- 商品情報 -->
        <div class="w-full space-y-2 px-12 py-4 md:w-1/3 md:px-2 md:py-0 lg:px-12">
            <h1 class="text-xl lg:text-2xl"><%= @product.name %></h1>
            <p class="text-sm lg:text-base"><%= @product.creator %></p>
            <p class="text-sm lg:text-base">リリース日 : 2021年4月25日</p>
            <!-- 星評価を★と☆で表現する -->
            <p class="text-sm font-bold text-orange-500 lg:text-base">
                総合評価 : <%= star_rating(@average_rating) %>
            </p>
            <p class="text-sm lg:text-base">在庫数 : <%= @product.stock %></p>
            <p class="text-sm lg:text-base"><%= @product.description %></p>
            <% if @product.tags.exists? %>
                <div class="mt-1">
                    <p class="mb-1">タグ:</p>
                    <% @product.tags.each do |tag|%>
                        <%= link_to tag.name, search_products_path(q: { tags_name_eq: tag.name }), data: { turbo_method: :get }, class: 'bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300' %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <!-- 商品の購入と価格に関するボックス -->
        <div class="w-4/5 rounded-2xl border border-black bg-white pl-3 md:ml-10 md:w-1/3 lg:w-1/4">
            <div class="py-3">
                <% if @product.stock > 0 %>
                    <!-- 在庫がある場合 -->
                    <!-- 数量のセレクトボックス -->
                    <div class='product-item'>
                        <%= form_with model: @product do  |form| %>
                            <div class="flex max-w-sm items-center py-3">
                                <%= form.label :quantity, '数量:', class: 'ml-1 block text-lg text-gray-900' %>
                                <%= form.select :quantity, options_for_select((1..(@remaining_stock)).to_a.collect { |n| [n, n] }, selected: 1),{}, { class: 'quantity ml-2 block rounded-lg border border-gray-300 bg-gray-200 p-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500' } %>
                            </div>
                            <span class="text-xl">¥<%= @product.price %></span>
                        <% end %>
                        <%= form_with url: cart_path ,model: @product, method: :post,local:true,  data:{turbo: false},  class: 'flex justify-center cart-form' do |form| %>
                            <%= form.hidden_field :id %>
                            <%= form.hidden_field :quantity , class: 'cart-quantity', value: 1 %>
                            <%= form.submit 'カートに入れる', class: 'my-2 w-3/4 rounded-full bg-emerald-400 py-2 hover:bg-emerald-500 hover:cursor-pointer add-to-cart-button' %>
                        <% end %>
                        <%= form_with url: checkout_path, model: @product,method: :post, local:true,  data:{turbo: false}, class: 'flex justify-center checkout-form' do |form|%>
                            <%= form.hidden_field :id %>
                            <%= form.hidden_field :quantity , class: 'checkout-quantity', value: 1 %>
                            <%= hidden_field_tag :checkout_action, true %>
                            <%= form.submit 'ご購入手続きへ',class: 'my-2 w-3/4 rounded-full bg-yellow-400 py-2 hover:bg-yellow-500 hover:cursor-pointer checkout-button'%>
                        <% end %>
                    </div>
                <% else %>
                    <!-- 在庫がない場合 -->
                    <div class="flex justify-center">
                        <span class="rounded-md bg-red-500 px-4 py-2 font-bold text-white">SOLD OUT</span>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <!-- 購入を検討しているユーザーへのオプション -->
    <div class="w-full py-4 md:w-3/4">
        <div class="flex flex-col space-y-4">
            <h2 class="pl-12 text-sm md:pl-6 md:text-lg">
                購入するか迷われていますか?<br />
                以下の機能を利用してさらに情報を集めてみましょう。
            </h2>
            <div class="flex flex-col items-center md:flex-row">
                <% if current_customer_account %>
                    <%= wishlist_button(@product, current_customer_account) %>
                    <%= favorite_button(@product, current_customer_account) %>
                    <button type="button" class="my-2 rounded-xl border border-gray-300 bg-gray-200 px-6 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700 md:mx-6 md:w-1/3">
                        商品についてチャットする
                    </button>
                <% else %>
                    <div class="relative my-2 md:mx-6 md:w-1/3" data-tooltip-target="wishlist-tooltip-1" data-tooltip-placement="top">
                        <button type="button" class="rounded-xl border border-gray-300 bg-gray-200 px-6 py-2 text-gray-500 cursor-not-allowed w-full" disabled>
                            ウィッシュリストに追加
                        </button>
                        <div id="wishlist-tooltip-1" role="tooltip" class="absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm dark:bg-gray-700">
                            この機能はログインすると使用可能です
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <div class="relative my-2 md:mx-6 md:w-1/3" data-tooltip-target="favorite-tooltip-1" data-tooltip-placement="top">
                        <button type="button" class="rounded-xl border border-gray-300 bg-gray-200 px-6 py-2 text-gray-500 cursor-not-allowed w-full" disabled>
                            お気に入りに追加
                        </button>
                        <div id="favorite-tooltip-1" role="tooltip" class="absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm dark:bg-gray-700">
                            この機能はログインすると使用可能です
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <div class="relative my-2 md:mx-6 md:w-1/3" data-tooltip-target="chat-tooltip-1" data-tooltip-placement="top">
                        <button type="button" class="rounded-xl border border-gray-300 bg-gray-200 px-6 py-2 text-gray-500 cursor-not-allowed w-full" disabled>
                            商品についてチャットする
                        </button>
                        <div id="chat-tooltip-1" role="tooltip" class="absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm dark:bg-gray-700">
                            この機能はログインすると使用可能です
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <!-- レビュー -->
    <div class="w-full py-4 md:w-3/4">
        <div class="flex flex-col pl-12 md:pl-6">
            <h2 class="text-sm md:text-lg">レビュー</h2>
            <!-- レビューリスト -->
            <% if @product_reviews.any? %>
                <% @product_reviews.each do |review| %>
                    <div class="flex items-center gap-4 pt-4">
                        <!-- デフォルトアバターアイコン -->
                        <div class="relative h-8 w-8 overflow-hidden rounded-full bg-gray-100 dark:bg-gray-600">
                            <svg class="absolute -left-1 h-12 w-12 text-gray-400" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p class="font-medium"><%= review.customer_account.user_name %></p>
                    </div>
                    <p class="pt-2 w-5/6 text-sm md:w-2/3">投稿日 : <%= review.created_at.strftime("%Y年%m月%d日") %></p>
                    <div class="py-1 flex">
                        <p class="font-bold text-orange-500"><%= star_rating(review.rating) %></p>
                        <p class="ml-1 w-5/6 md:w-2/3"><%= review.title %></p>
                    </div>
                    <p class="w-5/6 text-sm md:w-2/3"><%=safe_join(review.review.split("\n"),tag(:br))%></p>
                <% end %>
                <!-- レビューリストページへのリンク -->
                <div class="py-4">
                    <%= link_to 'レビューをすべて見る', product_product_review_path(@product), class: 'text-sky-400 hover:text-orange-400 hover:underline md:text-lg' %>
                </div>
            <% else %>
                <p class="text-sm lg:text-base py-4">この商品にはまだレビューがありません。</p>
            <% end %>
        </div>
    </div>
</div>
</main>
<%= javascript_include_tag 'checkout_button', type: 'module' %>