<!-- 商品リスト -->
<div class="flex justify-center py-10 antialiased">
    <div class="flex flex-col md:w-3/4">
        <h1 class="px-4 text-2xl font-bold md:text-4xl">商品リスト</h1>
        <h2 class="px-4 py-3 text-lg text-gray-700 md:text-2xl">
            <%= @keyword %>
        </h2>

        <%= search_form_for @search, url: search_products_path, method: :post, local: true, data: { turbo: false }, class: "flex flex-wrap" do |form| %>
            <% if @search.name_or_description_or_creator_or_product_category_name_or_tags_name_cont.present? %>
                <%= form.hidden_field :name_or_description_or_creator_or_product_category_name_or_tags_name_cont, value: @search.name_or_description_or_creator_or_product_category_name_or_tags_name_cont %>
            <% end %>
            <%# カテゴリー %>
            <div>
                <%= form.select :product_category_name_eq, 
                    { 
                        '全てのカテゴリー': '',
                        '絵画': '絵画',
                        '彫刻': '彫刻',
                        '写真': '写真',
                        'イラスト': 'イラスト',
                    }, 
                    { selected: params.dig(:q, :product_category_name_eq) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "m-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '', class: 'hidden' %>
            </div>

            <%# 商品タイプ %>
            <div>
                <%= form.select :product_type_eq, 
                    { 
                        '全ての商品タイプ': '',
                        'デジタル商品': 0,
                        '物理商品': 1,
                    }, 
                    { selected: params.dig(:q, :product_type_eq) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "m-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '', class: 'hidden' %>
            </div>

            <%# 作者 %>
            <div>
                <%= form.select :creator_eq, 
                    { 
                        '全ての作者': '',
                        'あきみち': 'あきみち',
                        'ジョーダン': 'ジョーダン',
                    }, 
                    { selected: params.dig(:q, :creator_eq) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "m-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '', class: 'hidden' %>
            </div>

            <%# タグ %>
            <div>
                <%= form.select :tags_name_eq, 
                    { 
                        '全てのタグ': '',
                        '人気': '人気',
                        '新発売': '新発売',
                    }, 
                    { selected: params.dig(:q, :tags_name_eq) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "m-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '', class: 'hidden' %>
            </div>

            <%# リリース日 %>
            <div>
                <%= form.select :release_eq, 
                    { 
                        '全期間': '',
                        '7日まで': 7,
                        '30日まで': 30,
                        '90日まで': 90,
                        '180日まで': 180,
                    }, 
                    { selected: params.dig(:q, :release_eq) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "m-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '', class: 'hidden' %>
            </div>

            <div>
                <%# TODO: 新着順は、リリース日に紐づくため、後で実装する %>
                <%= form.select :sorts, 
                    { 
                        '高評価順': 'average_rating desc',
                        '新着順': '',
                        '高価格順': 'price desc',
                        '低価格順': 'price asc',
                    }, 
                    { selected: params.dig(:q, :sorts) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "m-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '', class: 'hidden' %>
            </div>
        <% end %>

        <% if @products.present? %>
            <div class="grid grid-cols-2 items-center gap-4 py-4 md:grid-cols-5">
                <% @products.each do |product| %>
                    <div class="rounded-lg bg-gray-200 p-3">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <%= link_to product, data: {turbo: false} do %>
                                <% if product.images.attached? %>
                                    <%= image_tag product.images.first, class: 'h-full w-full object-cover rounded-lg' %>
                                <% else %>
                                    <%= image_tag 'sample_image.jpg', class: 'h-full w-full object-cover rounded-lg' %>
                                <% end %>
                            <% end %>
                        </div>
                        <%= link_to product.name, product, data:{turbo: false}, class: "text-lg lg:text-xl text-sky-400 hover:text-orange-400 hover:underline" %>
                        <p class="text-sm lg:text-base"><%= I18n.t("products.product_type.#{product.product_type}") + "商品" %></p>
                        <p class="pb-1 text-sm font-bold text-orange-500 lg:text-base"><%= star_rating(@average_ratings[product.id]) %></p>
                        <% if product.stock > 0 %>
                            <span class="text-base lg:text-lg">¥<%= product.price %></span>
                        <% else %>
                            <span class="text-base lg:text-lg rounded-md bg-red-500 p-1 font-bold text-white">SOLD OUT</span>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <!-- ページネーション -->
            <%= paginate @products %>
        <% else %>
            <p class="text-center text-lg md:text-2xl py-6">商品がみつかりませんでした</p>
        <% end %>
    </div>
</div>
