<!-- 商品リスト -->
<div class="flex justify-center pt-10 antialiased">
    <div class="flex flex-col md:w-3/4">
        <h1 class="ml-1 text-2xl font-bold md:text-4xl">商品リスト</h1>
        <h2 class="ml-1 py-3 text-lg text-gray-700 md:text-2xl">
            <% if @keyword.blank? %>
                キーワードを入力して検索してください。
            <% else %>
                検索結果 : <%= @keyword %>
            <% end %>
        </h2>
        <% if @products.present? %>
            <%= search_form_for @search, url: search_products_path, method: :post, local: true, data: { turbo: false }, class: "flex max-w-sm items-center" do |form| %>
                <% if @search.name_or_description_or_creator_or_product_category_name_cont.present? %>
                    <%= form.hidden_field :name_or_description_or_creator_or_product_category_name_cont, value: @search.name_or_description_or_creator_or_product_category_name_cont %>
                <% elsif @search.product_category_name_eq.present? %>
                    <%= form.hidden_field :product_category_name_eq, value: @search.product_category_name_eq %>
                <% end %>
                <%= form.label :sorts, "並び替え :", class: "ml-1 block text-lg text-gray-900" %>
                <%# TODO: 新着順は、リリース日に紐づくため、後で実装する %>
                <%= form.select :sorts, 
                    { 
                        '高評価順': 'average_rating desc',
                        '新着順': '',
                        '高価格順': 'price desc',
                        '低価格順': 'price asc',
                    }, 
                    { selected: params.dig(:q, :sorts) }, 
                    { 
                        onchange: 'this.form.submit()', 
                        class: "ml-2 block w-1/2 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                    }
                %>
                <%= form.submit '' %>
            <% end %>

            <div class="grid grid-cols-2 items-center gap-4 py-4 md:grid-cols-5">
                <% @products.each do |product| %>
                    <div class="rounded-lg bg-gray-200 p-3">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <%= link_to product, data: {turbo: false} do %>
                                <% if product.images.attached? %>
                                    <%= image_tag product.images.first, class: 'h-full w-full object-cover rounded-lg' %>
                                <% else %>
                                    <%= image_tag 'sample_image.jpg', class: 'h-full w-full object-cover rounded-lg' %>
                                <% end %>
                            <% end %>
                        </div>
                        <%= link_to product.name, product, data:{turbo: false}, class: "text-lg lg:text-xl text-sky-400 hover:text-orange-400 hover:underline" %>
                        <p class="text-sm lg:text-base"><%= I18n.t("products.product_type.#{product.product_type}") + "商品" %></p>
                        <p class="pb-1 text-sm font-bold text-orange-500 lg:text-base"><%= star_rating(@average_ratings[product.id]) %></p>
                        <% if product.stock > 0 %>
                            <span class="text-base lg:text-lg">¥<%= product.price %></span>
                        <% else %>
                            <span class="text-base lg:text-lg rounded-md bg-red-500 p-1 font-bold text-white">SOLD OUT</span>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <!-- ページネーション -->
            <%= render 'layouts/pagenation' %>
        <% else %>
            <p class="text-center text-lg md:text-2xl py-6">商品がみつかりませんでした</p>
        <% end %>
    </div>
</div>
