<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div class="flex items-center justify-center py-6">
    <nav class="flex items-center justify-between m-10" role="navigation" aria-label="pager">
      <ul class="flex h-10 items-center -space-x-px text-base">
        <%# first_page_tagは使用しないため、コメントアウト %>
        <%# <%= first_page_tag unless current_page.first? %>
        <li>
          <%= prev_page_tag %>
        </li>
        <% each_page do |page| -%>
          <li>
            <% if page.display_tag? -%>
              <%= page_tag page %>
            <% elsif !page.was_truncated? -%>
              <%= gap_tag %>
            <% end -%>
          </li>
        <% end -%>
        <% unless current_page.out_of_range? %>
          <li>
            <%= next_page_tag %>
            <%# last_page_tagは使用しないため、コメントアウト %>
            <%# <%= last_page_tag unless current_page.last? %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
<% end -%>
