<%= render 'layouts/customer/flash' %>

<!-- 購入履歴 -->
<div class="flex flex-col items-center pt-10 antialiased">
    <div class="flex w-full flex-col space-y-4 py-4 md:w-4/5 lg:w-1/2">
        <h1
        class="py-2 text-center text-2xl font-bold md:text-start md:text-4xl"
        >
            購入履歴
        </h1>
        <% if @orders.empty? %>
            <div class="mx-2 rounded-lg border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 p-3 md:p-6">
                <p class="text-center">購入した商品はありません</p>
            </div>
        <% else %>
            <% @orders.each do |order|%>
                <div class="mx-2 flex flex-col divide-y-2 divide-gray-300 rounded-2xl border border-black bg-white p-3 md:p-6">
                    <div class="flex flex-col justify-between pb-2 md:flex-row">
                        <div>
                            <p class="text-sm lg:text-base">購入日: <%= order.order_date.strftime('%Y年%m月%d日')%></p>
                            <p class="text-sm lg:text-base">合計: ¥<%= order.total%></p>
                        </div>
                        <p class="flex items-end text-sm lg:text-base">
                            注文番号: <%= order.order_number%>
                        </p>
                    </div>
                    <div class="flex pt-2">
                        <!--  アイテムコンテナ -->
                        <div class="flex flex-col sm:flex-row">
                            <!-- 各アイテムコンテナ -->
                            <div class="flex flex-col">
                                <% order.order_items.each do |order_item|%>
                                    <div class="flex mt-2">
                                        <!-- 商品画像 -->
                                        <!-- TODO: 画像アップロード場所が決まったら実装する -->
                                        <div class="flex items-center md:w-2/5 lg:w-1/3">
                                            <%= image_tag 'sample_image.jpg', class: 'block object-cover h-1/2 rounded-lg shadow-xl md:h-auto' %>
                                        </div>
                                        <!-- 商品情報 -->
                                        <div class="ml-2 mt-2 flex w-1/2 flex-col justify-center md:ml-6 md:w-full md:flex-row md:justify-between">
                                            <div class="w-full space-y-2 md:w-2/3">
                                                <%= link_to order_item.product.name, order_item.product, class: 'text-lg text-sky-400 hover:text-orange-400 hover:underline' %>
                                                <p class="text-sm lg:text-base"><%= order_item.product.creator%></p>
                                                <!-- TODO: デジタル、物理の実装ができたらこちらも実装する -->
                                                <p class="text-sm lg:text-base">デジタル商品</p>
                                                <p class="text-sm lg:text-base">数量: <%= order_item.quantity%></p>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <!-- オプションボタン -->
                            <div class="flex w-full flex-col mt-2 pt-2 space-y-2 md:pt-0">
                                <%= link_to '領収書を発行する', order.receipt_url, target: :_blank, rel: "noopener noreferrer" , class: 'flex w-full justify-center rounded-full border border-gray-300 bg-white p-1 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-700 md:p-2 lg:text-base' %>
                                <% order.order_items.each do |order_item|%>
                                    <% @existing_review = @product_reviews[order_item.product.id] %>
                                    <% if @existing_review %>
                                        <%= link_to 'レビューを編集する', edit_product_product_reviews_path(order_item.product), class: 'flex w-full justify-center rounded-full border border-gray-300 bg-white p-1 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-700 md:p-2 lg:text-base' %>
                                        <%= form_with url: product_product_reviews_path(order_item.product), method: :delete, class: 'w-full' do |f| %>
                                            <%= hidden_field_tag 'productReview_id', @product_reviews[order_item.product.id].id %>
                                            <%= button_tag 'レビューを削除する', type: 'submit', data: { turbo: false }, class: 'flex w-full justify-center rounded-full border border-gray-300 bg-white p-1 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-700 md:p-2 lg:text-base' do %>
                                            レビューを削除する
                                            <% end%>
                                        <% end %>
                                    <% else %>
                                        <%= link_to 'レビューを書く', new_product_product_reviews_path(order_item.product), class: 'flex w-full justify-center rounded-full border border-gray-300 bg-white p-1 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-700 md:p-2 lg:text-base' %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<!-- ページネーション -->
<%= render 'layouts/pagenation' %>
