<%= render 'layouts/flash' %>
<!-- Toast container -->
<div id="toast-container" class="fixed bottom-5 right-5 flex flex-col gap-3"></div>
<!-- お気に入りリスト -->
<div class="flex flex-col items-center pt-10 antialiased">
    <div class="flex w-full flex-col space-y-6 py-6 md:w-4/5 lg:w-2/3">
        <h1 class="py-2 text-center text-2xl font-bold md:text-start md:text-4xl">
            お気に入りリスト
        </h1>
        <% if @favorite_products.any? %>
            <% @favorite_products.each do |favorite_product| %>
                <%= form_with url: cart_path, method: :post  do |f| %>
                    <div class="mx-2 flex rounded-xl border border-gray-200 bg-white shadow-md p-3 md:p-6">
                        <!-- 商品画像 -->
                        <div class="flex w-1/2 items-center md:w-2/5 lg:w-1/3">
                            <% if favorite_product.product.images.attached? %>
                                <%= image_tag favorite_product.product.images.first.variant(resize_to_fill: [300, 200]).processed, class: 'block rounded-lg shadow-lg', alt: '商品画像' %>
                            <% else %>
                                <%= image_tag 'sample_image.jpg', class: 'rounded-lg shadow-md', size: "300x200", alt: '商品画像' %>
                            <% end %>
                        </div>
                        <!-- 商品情報 -->
                        <div class="ml-4 flex w-1/2 flex-col justify-between md:w-full md:flex-row md:ml-6 product-item">
                            <div class="space-y-2 md:w-2/3">
                                <%= link_to favorite_product.product.name, favorite_product.product, class: 'text-lg font-semibold text-sky-500 hover:text-orange-400 hover:underline' %>
                                <p class="text-sm text-gray-700"><%= favorite_product.product.creator %></p>
                                <p class="text-sm font-bold text-orange-500 lg:text-base"><%= star_rating(@average_ratings[favorite_product.product.id]) %></p>
                                <!-- 数量のセレクトボックス -->
                                <%= form_with model: favorite_product.product, class: 'flex items-center' do |form|%>
                                    <%= form.label :quantity, '数量:', class: 'ml-1 block text-sm text-gray-900 lg:text-base' %>
                                    <%= form.select :quantity, options_for_select((1..favorite_product.product.remaining_stock).to_a.collect { |n| [n, n] }, selected: 1),{} ,class: 'ml-2 block rounded-lg border border-gray-300 bg-gray-200 p-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500'%>
                                <% end %>
                                <p class="text-sm lg:text-base">デジタル商品</p>
                                <p class="text-sm font-semibold text-gray-900">¥<%= favorite_product.product.price %></p>
                            </div>
                            <!-- オプションボタン -->
                            <div class="flex flex-col items-center space-y-2 md:space-y-4 md:pt-0 md:w-1/3">
                                <%= f.submit 'カートに入れる', class: 'w-full rounded-full bg-emerald-400 p-3 text-sm text-white hover:bg-emerald-500 lg:p-2 lg:text-base'%>
                                <button
                type="button"
                class="w-full rounded-full bg-yellow-400 p-3 text-sm text-white hover:bg-yellow-500 lg:p-2 lg:text-base">
                                    ご購入手続きへ
                                </button>
                                <%= form_with url: checkout_path, model: @product,method: :post, local:true,  data:{turbo: false} do |form|%>
                                    <%= form.hidden_field :id %>
                                    <%= form.hidden_field :quantity , class: 'checkout-quantity' %>
                                    <%= hidden_field_tag :checkout_action, true %>
                                    <%= form.submit 'ご購入手続きへ',class: 'my-2 w-3/4 rounded-full bg-yellow-400 py-2 hover:bg-yellow-500 hover:cursor-pointer checkout-button'%>
                                <% end %>
                                <%= form_with(url: favorite_product_path(favorite_product), method: :delete, class: 'w-full') do %>
                                    <button
                  type="submit"
                  class="flex w-full justify-center rounded-full border border-gray-300 bg-white p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                        <svg
                    class="h-6 w-6"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24">
                                            <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                            </svg>
                                            削除
                                        </button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <div class="text-center text-gray-700">
                    お気に入りリストに商品がありません。
                </div>
            <% end %>
        </div>
    </div>
    <!-- ページネーション -->
    <%= render 'layouts/pagenation' %>
    <%= javascript_include_tag "clipboard", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag 'checkout_button', type: 'module' %>
