<%= render 'layouts/flash' %>
<!-- Toast container -->
<div id="toast-container" class="fixed bottom-5 right-5 flex flex-col gap-3"></div>
<!-- お気に入りリスト -->
<div class="flex flex-col items-center py-10 antialiased">
  <div class="flex w-full flex-col space-y-6 py-6 md:w-4/5 lg:w-3/5">
    <h1 class="px-4 py-2 text-2xl font-bold md:text-4xl">
      お気に入りリスト
    </h1>

    <% if @favorite_products.any? %>
      <% @favorite_products.each_with_index do |favorite_product, index| %>
        <%= form_with url: cart_path, method: :post  do |f| %>
          <div class="mx-2 flex flex-col rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800 p-3 md:p-6 product-item">
            <% if favorite_product.product.status != 'published' %>
              <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-700 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  <span class="font-medium">この商品は現在購入できません
                </div>
              </div>
            <% end %>
            <div class="flex w-full flex-col md:flex-row">
              <div class="flex w-full md:w-2/3">
                <!-- 商品画像 -->
                <div class="flex w-1/2 items-center">
                  <% if favorite_product.product.images.attached? %>
                    <%= image_tag favorite_product.product.images.first.variant(resize_to_fill: [300, 200]).processed, class: 'block rounded-lg shadow-lg', alt: '商品画像' %>
                  <% else %>
                    <%= image_tag 'sample_image.jpg', class: 'block rounded-lg shadow-lg', size: "300x200", alt: '商品画像' %>
                  <% end %>
                </div>
                <!-- 商品情報 -->
                <div class="ml-4 flex w-1/2 flex-col justify-between md:w-full md:flex-row md:ml-6">
                  <div class="py-3 space-y-1 md:space-y-2 md:w-2/3">
                    <%= link_to favorite_product.product.name, favorite_product.product, class: 'text-lg font-semibold text-sky-500 hover:text-orange-400 hover:underline' %>
                    <p class="text-sm lg:text-base dark:text-white"><%= favorite_product.product.creator %></p>
                    <p class="text-sm font-bold text-orange-500 lg:text-base"><%= star_rating(@average_ratings[favorite_product.product.id]) %></p>
                    <!-- 数量のセレクトボックス -->
                    <div class="flex">
                      <%= form_with model: favorite_product.product do |form|%>
                        <%= form.label :quantity, '数量:', class: 'py-1 block text-sm text-gray-900 lg:text-base dark:text-white' %>
                        <%= form.select :quantity, options_for_select((1..favorite_product.product.remaining_stock).to_a.collect { |n| [n, n] }, selected: 1),{} ,class: 'ml-2 block rounded-lg border border-gray-300 bg-gray-200 p-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 quantity'%>
                      <% end %>
                    </div>
                    <p class="text-sm lg:text-base dark:text-white">デジタル商品</p>
                    <p class="text-sm font-semibold text-gray-900 dark:text-white">¥<%= favorite_product.product.price %></p>
                  </div>
                </div>
              </div>
              <!-- オプションボタン -->
              <div class="flex w-full items-end md:w-1/3 flex-col mt-2 pt-2 space-y-4 md:pt-0">
                <% if favorite_product.product.status == 'published' %>
                  <%= form_with url: cart_path ,model: favorite_product.product, method: :post,local:true,  data:{turbo: false}, class: 'w-full cart-form' do |form| %>
                      <%= form.hidden_field :id %>
                      <%= form.hidden_field :quantity , class: 'cart-quantity', value: 1 %>
                      <%= form.submit 'カートに入れる', class: 'w-full rounded-full bg-emerald-400 p-3 text-sm text-white hover:bg-emerald-500 lg:p-2 lg:text-base add-to-cart-button hover:cursor-pointer' %>
                  <% end %>
                  <%= form_with url: checkout_path, model: favorite_product.product,method: :post, local:true,  data:{turbo: false} ,class: 'w-full  checkout-form' do |form|%>
                      <%= form.hidden_field :id %>
                      <%= form.hidden_field :quantity , class: 'checkout-quantity' %>
                      <%= hidden_field_tag :checkout_action, true %>
                      <%= form.submit 'ご購入手続きへ',class: 'w-full rounded-full bg-yellow-400 p-3 text-sm text-white hover:bg-yellow-500 lg:p-2 lg:text-base hover:cursor-pointer  checkout-button'%>
                  <% end %>
                <% else %>
                  <div class="w-full" data-tooltip-target="cart-tooltip-favorite-product-<%= index %>" data-tooltip-placement="top">
                    <button type="button" class="w-full rounded-full border border-gray-300 bg-gray-200 px-6 py-2 text-gray-500 cursor-not-allowed lg:p-2 lg:text-base" disabled>
                      カートに入れる
                    </button>
                    <div id="cart-tooltip-favorite-product-<%= index %>" role="tooltip" class="absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm dark:bg-gray-700">
                        この機能は商品が購入できないため利用できません
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                  </div>
                  <div class="w-full" data-tooltip-target="checkout-tooltip-favorite-product-<%= index %>" data-tooltip-placement="top">
                    <button type="button" class="w-full rounded-full border border-gray-300 bg-gray-200 px-6 py-2 text-gray-500 cursor-not-allowed lg:p-2 lg:text-base" disabled>
                      ご購入手続きへ
                    </button>
                    <div id="checkout-tooltip-favorite-product-<%= index %>" role="tooltip" class="absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm dark:bg-gray-700">
                        この機能は商品が購入できないため利用できません
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                  </div>
                <% end %>
                <%= form_with(url: favorite_product_path(favorite_product), method: :delete, class: 'w-full') do %>
                  <button
                    type="submit"
                    class="flex w-full justify-center rounded-full border border-gray-300 bg-white p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    <svg
                      class="h-6 w-6"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                      />
                    </svg>
                    削除
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- ページネーション -->
      <%= paginate @favorite_products %>
    <% else %>
      <div class="text-center text-gray-700">
          お気に入りリストに商品がありません。
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "clipboard", "data-turbo-track": "reload", type: "module" %>
<%= javascript_include_tag 'checkout_button', type: 'module' %>
