<!-- Toast container -->
<div id="toast-container" class="fixed bottom-5 right-5 flex flex-col gap-3"></div>

<!-- お気に入りリスト -->
<div class="flex flex-col items-center py-10 antialiased">
  <div class="flex w-full flex-col space-y-6 py-6 md:w-4/5 lg:w-3/5">
    <h1 class="px-4 py-2 text-2xl font-bold md:text-4xl">
      お気に入りリスト
    </h1>

    <% if @favorite_products.any? %>
      <% @favorite_products.each do |favorite_product| %>
        <div class="mx-2 flex  flex-col md:flex-row rounded-xl border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800 p-3 md:p-6">
          <div class="flex w-full md:w-2/3">
            <!-- 商品画像 -->
            <div class="flex w-1/2 items-center">
              <% if favorite_product.product.images.attached? %>
                <%= image_tag favorite_product.product.images.first.variant(resize_to_fill: [300, 200]).processed, class: 'block rounded-lg shadow-lg', alt: '商品画像' %>
              <% else %>
                <%= image_tag 'sample_image.jpg', class: 'rounded-lg shadow-md', size: "300x200", alt: '商品画像' %>
              <% end %>
            </div>

            <!-- 商品情報 -->
            <div class="ml-4 flex w-1/2 flex-col justify-between md:w-full md:flex-row md:ml-6">
              <div class="py-3 space-y-1 md:space-y-2 md:w-2/3">
                <a href="#" class="text-lg font-semibold text-sky-500 hover:text-orange-400 hover:underline">
                  <%= favorite_product.product.name %>
                </a>
                <p class="text-sm lg:text-base dark:text-white"><%= favorite_product.product.creator %></p>
                <p class="text-sm font-bold text-orange-500 lg:text-base"><%= star_rating(@average_ratings[favorite_product.product.id]) %></p>

                <!-- 数量のセレクトボックス -->
                <div class="flex items-center">
                  <label for="sort-select" class="ml-1 block text-sm text-gray-900 md:text-base dark:text-white">数量 :</label>
                  <select
                    id="sort-select"
                    class="ml-2 block rounded-lg border border-gray-300 bg-gray-200 p-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                  >
                    <option selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

                <p class="text-sm lg:text-base dark:text-white">デジタル商品</p>
                <p class="text-sm font-semibold text-gray-900 dark:text-white">¥<%= favorite_product.product.price %></p>
              </div>
            </div>
          </div>
          <!-- オプションボタン -->
          <div class="flex w-full items-end md:w-1/3 flex-col mt-2 pt-2 space-y-4 md:pt-0">
            <button
              type="button"
              class="w-full rounded-full bg-emerald-400 p-3 text-sm text-white hover:bg-emerald-500 lg:p-2 lg:text-base"
            >
              カートに入れる
            </button>
            <button
              type="button"
              class="w-full rounded-full bg-yellow-400 p-3 text-sm text-white hover:bg-yellow-500 lg:p-2 lg:text-base"
            >
              ご購入手続きへ
            </button>
            <%= form_with(url: favorite_product_path(favorite_product), method: :delete, class: 'w-full') do %>
              <button
                type="submit"
                class="flex w-full justify-center rounded-full border border-gray-300 bg-white p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >
                <svg
                  class="h-6 w-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                  />
                </svg>
                削除
              </button>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- ページネーション -->
      <%= paginate @favorite_products %>
    <% else %>
      <div class="mx-2 rounded-lg border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 p-3 md:p-6">
          <p class="text-center md:text-xl dark:text-white">お気に入りリストに商品がありません</p>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "clipboard", "data-turbo-track": "reload", type: "module" %>
