<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アカウント作成</title>
  <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <main class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-6 bg-white shadow-md rounded-lg">
      <h1 class="text-center text-3xl mb-6">アカウント作成</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, class: "space-y-4" }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div>
          <%= f.label :user_name, "ユーザー名", class: "block font-medium text-gray-700" %>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "username", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm", placeholder: "ユーザー名" %>
        </div>
        <div>
          <%= f.label :email, "メールアドレス", class: "block font-medium text-gray-700" %>
          <%= f.email_field :email, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm", placeholder: "email@example.com" %>
        </div>
        <div>
          <%= f.label :password, "パスワード", class: "block font-medium text-gray-700" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm", placeholder: "半角英数記号8文字以上" %>
        </div>
        <div>
          <%= f.label :password_confirmation, "パスワード(確認用)", class: "block font-medium text-gray-700" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm", placeholder: "パスワードと同じ文字列" %>
        </div>
        <div>
          <%= f.submit "アカウントを作成する", class: "w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-400 hover:bg-sky-500" %>
        </div>
      <% end %>
      <div class="mt-6 text-center">
        <%= render "admin_accounts/shared/links" %>
      </div>
    </div>
  </main>
  <%= render "shared/footer" %>
</body>
</html>
