<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
</head>
<body class="bg-gray-100">
  <main class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-6 bg-white shadow-md rounded-lg">
      <h1 class="text-center text-3xl mb-6">ログイン</h1>

      <%= render "shared/flash" %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div>
          <%= f.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-700" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "email@example.com" %>
        </div>
        <div>
          <%= f.label :password, "パスワード", class: "block text-sm font-medium text-gray-700" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "半角英数記号8文字以上" %>
        </div>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "rounded" %>
          <%= f.label :remember_me, "ログインしたままにする", class: "ml-2 block text-sm text-gray-900" %>
        </div>
        <div>
          <%= f.submit "ログイン", class: "w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-400 hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500" %>
        </div>
      <% end %>
      <div class="mt-6 text-center">
        <%= render "admin_accounts/shared/links" %>
      </div>
    </div>
  </main>

</body>
</html>
