<%= render 'layouts/customer/flash' %>

<!-- レビュー記入 -->
<div
class="flex flex-col items-center divide-y-2 divide-gray-300 pt-10 antialiased"
>
    <%= render 'product_info' %>

    <!-- レビュー記入フォーム -->
    <div class="flex w-full flex-col py-4 md:w-1/2 lg:w-1/3">
        <div
        class="container items-center justify-center space-y-4 px-6 md:pl-0"
        >
        <h2 class="text-center text-xl md:text-2xl">レビューを書く</h2>
        <p class="text-center text-base text-gray-500 md:text-lg">
            購入した商品への思いを投稿しよう
        </p>

        <%= form_with(model: @product_review, url: product_product_reviews_path(@product), local: true, data: { turbo: false }, class: "space-y-4 rounded-xl border border-gray-200 bg-white p-4 shadow-xl") do |form| %>
            <%= render 'error_messages', errors: @errors %>

            <div>
                <%= form.label :title, "タイトル" %>
                <%= form.text_field :title, class: "w-full rounded border border-gray-300 p-2", maxlength: 50 %>
            </div>
            <div>
                <%= form.label :review, "レビュー" %>
                <%= form.text_area :review, rows: 4, class: "w-full rounded border border-gray-300 p-2", maxlength: 400 %>
            </div>
            <div>
                <%= form.label :rating, "評価", class: "ml-1 block text-lg text-gray-900" %>
                <%= form.select :rating, options_for_select([["評価してください", nil], ["5", 5], ["4", 4], ["3", 3], ["2", 2], ["1", 1]], @product_review.rating), {}, class: "ml-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" %>
            </div>
            <div>
                <%= form.hidden_field :product_id, value: @product.id %>
                <%= form.hidden_field :customer_id, value: current_customer_account.id %>
                <%= form.submit "更新する", class: "my-2 w-full rounded bg-yellow-400 py-2 hover:bg-yellow-500" %>
            </div>
        <% end %>
        </div>
    </div>
</div>
