<!-- 商品管理 -->
<div class="flex flex-col items-center py-10 antialiased">
  <div class="flex w-full flex-col space-y-4 py-4 md:w-4/5 lg:w-1/2">
    <h1 class="px-4 py-2 text-2xl font-bold md:text-4xl">商品管理</h1>
    <div class="mx-2 flex flex-row justify-between">
      <div>
        <%= search_form_for @search, url: admin_products_path, method: :post, local: true, data: { turbo: false }, class: "flex max-w-sm items-center" do |form| %>
             <%= form.select :status_eq, 
                {
                    'すべての商品': '',
                    '下書き': 0,
                    '公開中': 1,
                    'アーカイブ済み': 2,
                }, 
                { selected: params.dig(:q, :status_eq) }, 
                { 
                    onchange: 'this.form.submit()', 
                    class: "ml-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                }
            %>
            <%= form.submit '' %>
        <% end %>
      </div>
      <a href="#" class="inline-flex justify-center rounded-lg  border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 lg:w-auto">商品を追加する</a>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-left text-sm">
        <thead class="bg-gray-300 text-xs uppercase">
          <tr>
            <th scope="col" class="px-6 py-3">画像</th>
            <th scope="col" class="px-6 py-3">名前</th>
            <th scope="col" class="px-6 py-3">ステータス</th>
            <th scope="col" class="px-6 py-3">アクション</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="bg-white border-b dark:border-gray-700 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:border-gray-600">
              <td class="p-4">
                <div class='flex justify-center'>
                  <% if product.images.attached? %>
                    <%= image_tag product.images.first.variant(resize_to_fill: [127, 73]), class: 'rounded-lg shadow-md' %>
                  <% else %>
                    <%= image_tag 'sample_image.jpg', class: 'rounded-lg shadow-md', size: "127x73" %>
                  <% end %>
                </div>
              </td>
              <td class="px-6 py-4 font-semibold dark:text-white"><%= product.name %></td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <% if product.status == 'draft' %>
                    <div class="flex items-center dark:text-white">
                      <div class="me-2 h-2.5 w-2.5 rounded-full bg-yellow-500"></div>
                      下書き
                    </div>
                  <% elsif product.status == 'published' %>
                    <div class="flex items-center dark:text-white">
                      <div class="me-2 h-2.5 w-2.5 rounded-full bg-green-500"></div>
                      公開中
                    </div>
                  <% elsif product.status == 'archived' %>
                    <div class="flex items-center dark:text-white">
                      <div class="me-2 h-2.5 w-2.5 rounded-full bg-red-500"></div>
                      アーカイブ済み
                    </div>
                  <% end %>
                </div>
              </td>
              <td class="space-x-2 px-2 py-4 md:space-x-4 md:px-6">
                <%= link_to '編集', edit_admin_product_path(product), class: 'font-medium text-sky-600 hover:underline', data: { turbo: false } %>
                <%= link_to '削除', admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか?" }, class: 'font-medium text-red-600 hover:underline' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- ページネーション -->
<%= paginate @products %>