<div class="flex flex-col items-center pt-10 antialiased">
    <div class="flex w-full flex-col space-y-4 py-4 md:w-4/5 lg:w-1/3">
        <h1 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">
            追跡番号の編集
        </h1>
        <%= form_with model: [:admin, @shipping],data: { turbo_confirm: "1度保存すると再編集できません。よろしいですか？" }, class: 'space-y-4 rounded-xl border border-gray-200 bg-white p-4 shadow-xl', multipart: true do |form| %>
            <div class="flex flex-col">
                <%= form.label :carrier, "配送会社", class: 'font-bold' %>
                <%= form.select :carrier, Shipping.carriers.keys.map{|key|[I18n.t("activerecord.attributes.shipping.carriers.#{key}"), key]}, { prompt: "配送会社を選択してください"  }, { required: true, class: 'block rounded-lg border border-gray-300 bg-gray-200 p-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500' } %>
            </div>
            <div class="flex flex-col">
                <%= form.label :tracking_number, "追跡番号", class: 'font-bold' %>
                <%= form.text_field :tracking_number , required: true,  maxlength: 18, placeholder: '8桁から18桁の英数字を入力してください' ,class: 'rounded border border-gray-300 p-2 focus:ring focus:ring-blue-500' %>
            </div>
            <div class="flex justify-between">
                <%= link_to 'キャンセル', admin_shippings_path,  class: 'text-center my-2 w-1/4 rounded-lg border border-gray-300 bg-white py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700' %>
                <%= form.submit '保存する',  class: 'my-2 w-1/4 rounded bg-yellow-400 py-2 hover:bg-yellow-500 hover:cursor-pointer' %>
            </div>
        <% end %>
    </div>
</div>
