<section class="py-8 antialiased md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div class="mx-auto max-w-5xl">
            <div class="gap-4 sm:flex sm:items-center sm:justify-between">
                <h1 class="px-2 py-2 text-2xl font-bold md:text-4xl">発送管理</h1>
                <div class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0">
                    <%= search_form_for @search, url: admin_shippings_path, method: :post, local: true, data: { turbo: false }, class: "flex max-w-sm items-center" do |form| %>
                        <%= form.select :status_eq, 
                            {
                                '全て': '',
                                '未発送': 0,
                                '発送済み': 1,
                            }, 
                            { selected: params.dig(:q, :status_eq) }, 
                            { 
                                onchange: 'this.form.submit()', 
                                class: "ml-2 block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" 
                            }
                        %>
                        <%= form.submit '' %>
                    <% end %>
                </div>
            </div>
            <div class="mt-6 flow-root sm:mt-8 dark:border-gray-700 dark:bg-gray-800">
                <div class="divide-y divide-gray-200 dark:divide-gray-700">
                    <% @shippings.each do |shipping| %>
                        <div class="flex flex-wrap items-center gap-y-4 py-6 hover:bg-gray-200 px-2 dark:hover:bg-gray-700 dark:hover:border-gray-600">
                            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1 mr-1">
                                <dt class="text-base font-medium text-gray-500 dark:text-gray-400">注文番号:</dt>
                                <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">
                                    <p><%= shipping.order.order_number%></p>
                                </dd>
                            </dl>
                            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                                <dt class="text-base font-medium text-gray-500 dark:text-gray-400">注文日:</dt>
                                <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white"><%= shipping.order.order_date.strftime('%Y年%m月%d日')%></dd>
                            </dl>
                            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                                <dt class="text-base font-medium text-gray-500 dark:text-gray-400">金額:</dt>
                                <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">¥<%= shipping.order.total%></dd>
                            </dl>
                            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
                                <dt class="text-base font-medium text-gray-500 dark:text-gray-400">ステータス:</dt>
                                <% if shipping.pending? %>
                                    <dd class="me-2 mt-1.5 inline-flex items-center rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">
                                        <svg class="me-1 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
                                        </svg>
                                        未発送
                                    </dd>
                                <% else %>
                                    <dd class="me-2 mt-1.5 inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300">
                                        <svg class="me-1 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                                        </svg>
                                        発送済み
                                    </dd>
                                <% end %>
                            </dl>
                            <div class="w-full grid lg:flex lg:w-64 lg:items-center lg:justify-center gap-4">
                                <%= link_to '追跡番号の入力', edit_admin_shipping_path(shipping), class: 'w-full inline-flex justify-center rounded-lg  border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 lg:w-auto' %>
                            </div>
                        </div>
                    <% end%>
                </div>
            </div>
            
            <% if @shippings.empty? %>
                <div class="items-center flex-wrap space-y-4 rounded-xl border border-gray-200 bg-white p-4 shadow-xl">
                    <p class="w-full text-center">現在管理している商品はありません。</p>
                </div>
            <% else %>
                <!-- ページネーション -->
                <%= paginate @shippings %>
            <% end %>
        </div>
    </div>
</section>