<%= render 'layouts/flash' %>
<!-- Toast container -->
<div id="toast-container" class="fixed bottom-5 right-5 flex flex-col gap-3"></div>
<!-- ウィッシュリスト -->
<div class="flex flex-col items-center py-10 antialiased">
  <div class="flex w-full flex-col space-y-4 py-4 md:w-4/5 lg:w-3/5">
    <h1 class="py-2 text-2xl font-bold text-start px-4 md:text-4xl">
        ウィッシュリスト
    </h1>
    <div class="flex flex-col md:flex-row md:justify-between space-y-2 px-4 md:px-6 md:items-center">
        <!-- ウィッシュリストのアカウント名 -->
        <div class="flex justify-start items-start gap-4">
          <% if @is_my_wishlist %>
            <div class="font-medium">あなたのウィッシュリスト</div>
          <% else %>
            <div class="font-medium"><%= @customer.customer_account.user_name %>さんのウィッシュリスト</div>
          <% end %>
        </div>
        <% if @is_my_wishlist %>
            <button id="share-link" data-url="<%= @sharelink %>" class="flex items-center text-sky-400 hover:text-orange-400 hover:underline bg-transparent border-none p-0 cursor-pointer">
                <svg
                  class="h-6 w-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
                  />
                </svg>
                <p>リンクの共有</p>
            </button>
        <% end %>
    </div>
    <%= render 'wish_products', wish_products: @wish_products, average_ratings: @average_ratings, is_my_wishlist: @is_my_wishlist %>

  </div>
</div>

<%= javascript_include_tag "clipboard", "data-turbo-track": "reload", type: "module" %>
<%= javascript_include_tag 'checkout_button', type: 'module' %>
