<!DOCTYPE html>
<html>
    <head>
        <title>Art-SA2</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= favicon_link_tag('art-sa2-logo.png') %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
        <%= javascript_include_tag "sample", "data-turbo-track": "reload", type: "module" %>
    </head>
    <body class="flex h-screen flex-col bg-gray-100">
        <!-- admin, customerによって表示するナビを変更する -->
        <!-- TODO: ヘルパーメソッドを使ったほうが良いかも -->
        <% if @admin %>
            <%= render 'layouts/admin/navbar' %>
        <% elsif @customer %>
            <%= render 'layouts/customer/navbar' %>
        <% end %>
        <main class="flex-grow">
            <%= yield %>
        </main>

        <% if @admin %>
            <%= render 'layouts/admin/footer' %>
        <% elsif @customer %>
            <%= render 'layouts/customer/footer' %>
        <% end %>
    </body>
</html>