<!DOCTYPE html>
<html>
    <head>
        <title>DockerRailsTest</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
        <%= javascript_include_tag "sample", "data-turbo-track": "reload", type: "module" %>
    </head>
    <body class="bg-gray-100">
        <!-- admin, customerによって表示するナビとフッターを変更する -->
        <!-- TODO: ヘルパーメソッドを使ったほうが良いかも -->
        <% if @admin %>
            <%= render 'layouts/admin/navbar' %>
        <% end %>
        <main class="">
            <%= yield %>
        </main>
        <% if @admin %>
            <%= render 'layouts/admin/footer' %>
        <% end %>
    </body>
</html>
