<%= content_for :additional_js do %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/'%>
<% end %>
<div class="py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <form  id="payment-form"  data-secret="<%= @intent.client_secret %>" class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
            <div class="mt-6 max-w-4xl space-y-6 lg:mt-0 mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
                <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                    <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Eメール</h2>
                    <div id="link-authentication-element">
                    </div>
                </div>
                <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                    <!-- TODO: デジタル製品のみの場合は、住所入力の部分は隠す -->
                    <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">配送先住所</h2>
                    <div id="address-element">
                    </div>
                </div>
                <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                    <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">支払い方法</h2>
                    <div id="payment-element">
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
                <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                    <p class="text-xl font-semibold text-gray-900 dark:text-white">注文内容</p>
                    <div class="space-y-4">
                        <div class="space-y-2">
                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">価格</dt>
                                <dd class="text-base font-medium text-gray-900 dark:text-white">¥<%= @total %></dd>
                            </dl>
                            <dl class="flex items-center justify-between gap-4">
                                <!-- TODO: 送料に関して考慮する場合は実装する。必要ない場合は削除する -->
                                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">送料</dt>
                                <dd class="text-base font-medium text-gray-900 dark:text-white">¥0</dd>
                            </dl>
                        </div>
                        <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                            <dt class="text-base font-bold text-gray-900 dark:text-white">合計（税込）</dt>
                            <dd class="text-base font-bold text-gray-900 dark:text-white">¥<%= @total %></dd>
                        </dl>
                    </div>
                    <button id="submit" type="submit" class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">注文を確定
                        <div id="spinner" class="hidden items-center">
                            <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                            </svg>
                        </div>
                    </button>
                    <div id="error-message" class="text-center">
                        <!-- Display error message to your customers here -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%= content_for :js do %>
    <%= javascript_include_tag 'checkout'%>
<% end %>